@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --clr-red: hsl(0,91%,63%);
    --clr-neon-green: hsl(127,100%,82%);
    --clr-orange: hsl(13,95%,66%);
    --clr-yellow: hsl(42,91%,68%);

    --clr-almost-white: hsl(252,11%,91%);
    --clr-grey: hsl(251,9%,53%);
    --clr-dark-grey: hsl(248,10%,15%);
    --clr-very-dark-grey: hsl(248,15%,11%);

    

    --ff-primary: 'JetBrains Mono', monospace;
}
body{
    overflow-x: hidden;
    height: 100vh;
    background-color: var(--clr-very-dark-grey);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.card{
    width: 25rem;
    /* height: 33rem;   */
}
.options{
    line-height: 1.7rem;
}
.head{
    font-family: var(--ff-primary);
    color: var(--clr-grey);
    text-align: center;
    margin-bottom: 1rem;
}
.innerOptionsCard{
    background-color: var(--clr-dark-grey);
    font-family: var(--ff-primary);
    color: var(--clr-almost-white);
    padding: 1rem;
}
.innerDisplay{
    background-color: var(--clr-dark-grey);
    font-family: var(--ff-primary);
    color: var(--clr-grey);
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
}
#copyMsg{
    display: none;
    position: relative;
    top: -0.4rem;
    color: var(--clr-neon-green);
}
.sliderName{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.slider{
    width: 100%;
    margin-top: 1rem;
    margin-bottom: 2rem;
    cursor: pointer;
}
.sliderValue{
    color: var(--clr-neon-green);
    font-size: 1.8rem;
}



input[type="checkbox"] {
    cursor: pointer;
    background: var(--clr-dark-grey);
    outline: 0;
    border: 1px solid white;
}

.strength{
    display: flex;
    height: 65px;
    justify-content: space-between;
    align-items: center;
    padding-left: 1rem;
    padding-right: 1rem;
    margin: 1rem 0 1rem 0;
    background: var(--clr-very-dark-grey);
}
#levelText{
    text-transform: uppercase;
}
.heading{
    color: var(--clr-grey);
}
.levels{
    display: flex;
    justify-content: center;
    align-items: center;
}
.bars {
    width: 10px;
    height: 28px;
    border: 3px solid var(--clr-almost-white);
    display: inline;
    padding: 0.2rem;
    margin-left: 0.5rem;
}
button{
    background-color: var(--clr-neon-green);
    font-family: var(--ff-primary);
    margin-top: 1rem;
    border: 0;
    outline: 0;
    width: 100%;
    height: 2.5rem;
    margin-top: 1.125rem;
    margin-bottom: 1.125rem;
    border: 2px solid var(--clr-neon-green);
}
button:hover{
    background-color: var(--clr-dark-grey);
    color: var(--clr-neon-green);
    cursor: pointer;
}
button svg {
    margin-left: 1rem;
}

button:hover path {
    fill: var(--clr-neon-green);
}
#alert {
    display: none;
    text-align: center;
    color: var(--clr-red);
}

#copyIcon{
    fill: var(--clr-neon-green);
}
#copyIcon:hover{
    fill: var(--clr-almost-white);
    cursor: pointer;
}
.tooweak {
    background-color: var(--clr-red);
    border: 2px solid var(--clr-red);
}
  
.weak {
    background-color: var(--clr-orange);
    border: 2px solid var(--clr-orange);
}
  
.medium {
    background-color: var(--clr-yellow);
    border: 2px solid var(--clr-yellow);
}
  
.strong {
    background-color: var(--clr-neon-green);
    border: 2px solid var(--clr-neon-green);
}



/* Mobile View */


@media screen and (max-width:412px){
    .head{
        font-size: small;
    }
    .card{
        width: 20rem;
    }
    
    .heading{
        font-size: medium;
    }
    .levelText{
        font-size: smaller;
    }
}




















